@font-face {
  font-family: "Netflix Sans";
  font-weight: 100;
  font-display: optional;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff2)
      format("woff2"),
    url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff)
      format("woff");
}

@font-face {
  font-family: "Netflix Sans";
  font-weight: 300;
  font-display: optional;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff2)
      format("woff2"),
    url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff)
      format("woff");
}

@font-face {
  font-family: "Netflix Sans";
  font-weight: 400;
  font-display: optional;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2)
      format("woff2"),
    url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff)
      format("woff");
}

@font-face {
  font-family: "Netflix Sans";
  font-weight: 700;
  font-display: optional;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff2)
      format("woff2"),
    url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff)
      format("woff");
}

@font-face {
  font-family: "Netflix Sans";
  font-weight: 800;
  font-display: optional;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff2)
      format("woff2"),
    url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff)
      format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  background-color: #000;
}

header {
  width: 100%;
  height: calc(100vh - 3rem);
  background-image: url("./assets/backdrop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 40%);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 0 11rem;
  margin-top: 1.5rem;
}

nav div:nth-child(1) {
  flex: 1;
}

.logo {
  width: 9.25rem;
  height: 2.5rem;
  cursor: pointer;
}

nav button {
  background-color: #e50914;
  justify-self: center;
  color: #fff;
  font-weight: 600;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  padding: 0.5rem 16px;
  border: none;
  outline: none;
  cursor: pointer;
}

main {
  max-width: 100%;
  height: calc(100vh - 3rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom: 8px solid #222;
}

main h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-bottom: 1rem;
}

main h2 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin-bottom: 1rem;
}

main p {
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin-bottom: 1rem;
}

main .input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

main input {
  width: 22rem;
  height: 3.5rem;
  border-radius: 0.25rem;
  border: none;
  outline: none;
  padding: 0 1rem;
  font-size: 0.875rem;
  font-weight: 400;
}

main button {
  background-color: #e50914;
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
  border-radius: 0.25rem;
  padding: 0.87rem 1rem;
  border: none;
  outline: none;
  width: 12rem;
  cursor: pointer;
}

main button:hover {
  background-color: #f40612;
}

main button:active {
  background-color: #e50914;
}

main button:focus {
  outline: none;
}

/* Transparent */
main .input input {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.tv {
  display: grid;
  max-width: 100%;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  color: #fff;
  position: relative;
  padding: 2rem 11rem;
  border-bottom: 8px solid #222;
  margin-top: 2rem;
}

.tv div:nth-child(2) {
  position: relative;
  width: 100%;
}

.tv img {
  max-width: 100%;
  margin-bottom: 2rem;
}

.tv h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.tv p {
  font-size: 1.5rem;
  font-weight: 400;
}

.tv-frame {
  max-width: 500px; /* Adjust the width as needed */
  max-height: 400px; /* Adjust the height as needed */
  position: relative;
  overflow: hidden;
  margin: 4.5rem 0;
}

.tv-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.tv-content img {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 2;
}

video {
  width: 73%;
  height: auto;
  margin-bottom: 3.7rem;
  z-index: 1;
}

.mobile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  color: #fff;
  border-bottom: 8px solid #222;
  padding: 2rem 11rem;
  margin-top: 2rem;
  position: relative;
}

.mobile div:nth-child(1) {
  position: relative;
  width: 100%;
  justify-self: center;
}

.mobile div:nth-child(2) h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.mobile > div:nth-child(2) p {
  font-size: 1.5rem;
  font-weight: 400;
}

.mobile img {
  max-width: 100%;
  margin-bottom: 2rem;
}

.movie-card {
  position: absolute;
  display: flex;
  justify-items: center;
  bottom: 14%;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 100px;
  padding: 0.5rem 0.8rem;
  background-color: #000;
  border: 2px solid #222;
  border-radius: 12px;
  z-index: 2;
}

.movie-card img {
  height: 100%; /* Adjust the image height as needed */
  width: auto;
  z-index: -1;
  margin-right: 0.8rem;
}

.movie-card div {
  align-self: center;
}

.movie-card div p:nth-child(1) {
  font-size: 1rem;
  font-weight: 700;
}

.movie-card div p:nth-child(2) {
  font-size: 14px;
  color: #0071eb;
}

.movie-card .anime {
  width: 20%;
  height: 50px;
  background: url("https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif")
    center center no-repeat;
  background-size: contain;
  margin-left: 1rem;
  z-index: 1000;
}
